@page "/CreateContract"
@using ContractGenerator.Models
@using System.Reflection
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS
@inject Blazor.Analytics.IAnalytics Analytics

<PageTitle>Create a contract</PageTitle>
<h1>Create a contract</h1>
<hr />

<div class="row mb-5">
    <div class="col-md-6">
        <div class="mb-4">
            <h5>Step 0 (optional): Update templates</h5>
            <div class="form-group">
                <div class="alert alert-warning" role="alert">
                    Getting the latest templates will erase your custom ones.
                </div>
                <button type="button" class="btn btn-secondary" @onclick="UpdateDB">Get latest templates from server</button>
            </div>
        </div>
        
        <div class="mb-4">
            <h5>Step 1: Choose a company</h5>
            @if (companies == null)
            {
                <div class="alert alert-primary" role="alert">
                    Loading...
                </div>
            }
            else
            {
                <div class="form-group">
                    <select class="form-control" @onchange="OnSelectCompany">
                        <option value=''>Select a company</option>
                        @foreach(var company in companies)
                        {
                            <option value='@company.Name'>@company.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" @bind="customizeCompanyDetails">
                  <label class="form-check-label" for="flexCheckDefault">
                    Customize company details
                  </label>
                </div>
                @if (customizeCompanyDetails && selectedCompany != null)
                {
                    List<PropertyInfo> companyProperties = selectedCompany.GetType().GetProperties(BindingFlags.Instance | BindingFlags.NonPublic | BindingFlags.Public).Where(prop => prop.GetValue(selectedCompany) != null).ToList();
                
                    <div class="card">
                      <h5 class="card-header">Customize company info for @selectedCompany.Name</h5>
                      <div class="card-body">
                        <p class="card-text">
                            @foreach(var p in companyProperties)
                            {
                                <div class="form-group">
                                    <label>@p.Name</label>
                                    <input value="@p.GetValue(selectedCompany).ToString()" @onchange='(ChangeEventArgs e)=>p.SetValue(selectedCompany, Convert.ChangeType(e.Value, p.PropertyType))' class="form-control">
                                </div>
                            }
                        </p>
                      </div>
                    </div>
                }
            }
        </div>
        
        <div class="mb-4">
            @if(selectedCompany != null)
            {
                <h5>Step 2: Choose a conference</h5>
                @if(conferences == null)
                {
                    <div class="alert alert-primary" role="alert">
                        Loading...
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <select class="form-control" @onchange="OnSelectConference">
                            <option value=''>Select a conference</option>
                            @foreach(var conference in conferences)
                            {
                                <option value='@conference.Name'>@conference.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group form-check">
                      <input class="form-check-input" type="checkbox" @bind="customizeConferenceDetails">
                      <label class="form-check-label" for="flexCheckDefault">
                        Customize conference details
                      </label>
                    </div>
                    @if (customizeConferenceDetails && selectedConference != null)
                    {
                        List<PropertyInfo> conferenceProperties = selectedConference.GetType().GetProperties(BindingFlags.Instance | BindingFlags.NonPublic | BindingFlags.Public).Where(prop => prop.GetValue(selectedConference) != null).ToList();
                
                        <div class="card">
                          <h5 class="card-header">Customize conference info for @selectedConference.Name</h5>
                          <div class="card-body">
                            <p class="card-text">
                                @foreach(var p in conferenceProperties)
                                {
                                    <div class="form-group">
                                        <label>@p.Name</label>
                                        <input value="@p.GetValue(selectedConference).ToString()" @onchange='(ChangeEventArgs e)=>p.SetValue(selectedConference, Convert.ChangeType(e.Value, p.PropertyType))' class="form-control">
                                    </div>
                                }
                            </p>
                          </div>
                        </div>
                    }
                }
            }
        </div>
        
        <div class="mb-4">
            @if(selectedConference != null)
            {
                <h5>Step 3: Choose a contract type</h5>
                @if(contracts == null)
                {
                    <div class="alert alert-primary" role="alert">
                        Loading...
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <select class="form-control" @onchange="OnSelectContract">
                            <option value=''>Select a contract</option>
                            @foreach(var contract in contracts)
                            {
                                <option value='@contract.FriendlyName'>@contract.FriendlyName</option>
                            }
                        </select>
                    </div>
                }
            }
        </div>
    
        <div class="mb-4">
            @if(selectedContract != null)
            {
                <h5>Step 4: Fill in contract info</h5>
                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" @bind="addContractNumber">
                  <label class="form-check-label" for="flexCheckDefault">
                    Add contract number
                  </label>
                </div>
                @if (addContractNumber)
                {
                    <div class="form-group">
                        <label>Contract Number</label>
                        <input @bind="@selectedContract.Number" class="form-control">
                    </div>
                }
                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" @bind="addContractDate" @onclick="SetContractDateToToday">
                  <label class="form-check-label" for="flexCheckDefault">
                    Add contract date
                  </label>
                </div>
                @if (addContractDate)
                {
                    <div class="form-group">
                        <label>Contract Date</label>
                        <input @bind="@selectedContract.Date" class="form-control">
                    </div>
                }
                @foreach(var field in selectedContract.Fields)
                {
                    <div class="form-group">
                        <label>@field.Name</label>
                        <input placeholder="@field.Placeholder" @bind="@field.Content" class="form-control">
                    </div>
                }
            }
        </div>
        
        <div class="mb-4">
            @if(selectedContract != null && selectedContract.Fields.All(f=>f.Content != "")){
                <h5>Step 5: Generate the contract</h5>
                <div class="alert alert-primary" role="alert">
                    By clicking <kbd>Preview Contract</kbd> you will be presented with the contract. After the document loads, press <kbd>Export Contract</kbd> to save as PDF.
                </div>
                <div class="alert alert-secondary" role="alert">
                    <p>You may edit the document by clicking into the text</p>
                    <p>Use <kbd>CTRL + B</kbd> or <kbd>CMD + B</kbd> to make text <b>bold</b></p>
                    <p>Use <kbd>CTRL + I</kbd> or <kbd>CMD + I</kbd> to make text <i>italic</i></p>
                    <p>Use <kbd>CTRL + U</kbd> or <kbd>CMD + U</kbd> to make text <u>underline</u></p>
                </div>
                <button type="button" @onclick="PreviewContract" class="btn btn-primary">Preview contract</button>
                @if (previewedContract)
                {
                    <button type="button" @onclick="ExportContract" class="btn btn-primary mx-1">Export contract</button>
            
                }
            }
        </div>
    </div>
    @if (previewedContract)
    {
        <div class="col-md-6">
            <h5>Document Preview</h5>
            <iframe id="pdfPreviewFrame" src="" style="width:100%; height:90%;"></iframe>
        </div>
    }
</div>


@code {
    private List<Company> companies;
    private Company selectedCompany;
    private List<Conference> conferences;
    private Conference selectedConference;
    private List<Contract> contracts;
    private Contract selectedContract;
    private bool previewedContract = false;

    private bool addContractNumber = false;
    private bool addContractDate = false;
    private bool customizeCompanyDetails = false;
    private bool customizeConferenceDetails = false;

    protected override async Task OnInitializedAsync()
    {
        companies = await localStorage.GetItemAsync<List<Company>>("TemplateCompanies");
        conferences = await localStorage.GetItemAsync<List<Conference>>("TemplateConferences");
        contracts = await localStorage.GetItemAsync<List<Contract>>("TemplateContracts");

        if (companies == null && conferences == null && contracts == null)
            await UpdateDB();

        await Analytics.TrackEvent("[CreateContract] Initialized CreateContract");
    }

    void OnSelectCompany(ChangeEventArgs e)
    {
        selectedCompany = companies.Find(c => c.Name == e.Value.ToString());
        selectedConference = null;
        selectedContract = null;

        Analytics.TrackEvent("[CreateContract] Selected a company");
    }

    void OnSelectConference(ChangeEventArgs e)
    {
        selectedConference = conferences.Find(c => c.Name == e.Value.ToString());
        selectedContract = null;

        Analytics.TrackEvent("[CreateContract] Selected a conference");
    }

    void OnSelectContract(ChangeEventArgs e)
    {
        selectedContract = contracts.Find(c => c.FriendlyName == e.Value.ToString());

        Analytics.TrackEvent("[CreateContract] Selected a contract");
    }

    async Task PreviewContract()
    {
        previewedContract = true;

        if (!addContractNumber)
            selectedContract.Number = "________";
        if (!addContractDate)
            selectedContract.Date = "________________";

        ContractBundle cb = new ContractBundle();
        cb.Company = selectedCompany;
        cb.Conference = selectedConference;
        cb.Contract = selectedContract;
        cb.CreatedAt = DateTime.Now;
        await localStorage.SetItemAsync("SelectedContractBundle", cb);

        List<ContractBundle> cblist = await localStorage.GetItemAsync<List<ContractBundle>>("ContractBundles");
        if (cblist == null)
            cblist = new List<ContractBundle>();
        cblist.Add(cb);
        await localStorage.SetItemAsync("ContractBundles", cblist);

        //await JS.InvokeVoidAsync("open", "/ExportContract", "_blank");
        await JS.InvokeVoidAsync("setIFrame", "pdfPreviewFrame", "/ExportContract");

        await Analytics.TrackEvent("[CreateContract] Previewed a contract");
    }

    async Task ExportContract()
    {
        await JS.InvokeVoidAsync("saveIFrameAsPDF", "pdfPreviewFrame", selectedConference.Name + " " + selectedContract.FriendlyName + ".pdf");
        await Analytics.TrackEvent("[CreateContract] Exported a contract");
    }

    async Task UpdateDB()
    {
        companies = await Http.GetFromJsonAsync<List<Company>>("Data/companies.json?time=" + DateTime.Now);
        conferences = await Http.GetFromJsonAsync<List<Conference>>("Data/conferences.json?time=" + DateTime.Now);
        contracts = await Http.GetFromJsonAsync<List<Contract>>("Data/contracts.json?time=" + DateTime.Now);
        AppInfo appInfo = await Http.GetFromJsonAsync<AppInfo>("Data/appInfo.json?time=" + DateTime.Now);

        await localStorage.SetItemAsync("TemplateCompanies", companies);
        await localStorage.SetItemAsync("TemplateConferences", conferences);
        await localStorage.SetItemAsync("TemplateContracts", contracts);
        await localStorage.SetItemAsync("TemplateAppInfo", appInfo);

        selectedCompany = null;
        selectedConference = null;
        selectedContract = null;

        await Analytics.TrackEvent("[CreateContract] Updated database");
    }

    async Task SetContractDateToToday()
    {
        selectedContract.Date = DateTime.Today.ToString("yyyy MMMM dd");
    }
}